mixin limitItem(prefixAdmin)
  select(
    id="change-limitItem"
    class="form-control"
    onchange="updateQueryParams('limit', this.value)"
  )
    option(disabled selected) -- Số lượng --
    option(value="4") 4
    option(value="8") 8
    option(value="16") 16
    option(value="32") 32
    option(value="64") 64
