mixin sortItem(prefixAdmin)
  select(
    id="change-sort"
    class="form-control"
    onchange="updateQueryParams('sort', this.value)"
  )
    option(disabled selected) -- sắp xếp --
    option(value="desc") Giảm dần
    option(value="asc") Tăng dần
    option(value="nameaz") Sắp xếp A-Z