mixin alowPass()
  small.text-muted.d-block.mt-1
    | Mật khẩu phải có:
    ul.mb-0
      li Ít nhất 1 chữ thường (a–z)
      li Ít nhất 1 chữ số (0–9)
      li Không chứa khoảng trắng
      li Độ dài từ 8 đến 16 ký tự