extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main 
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        h1.text-center.mb-4 Lấy lại mật khẩu

        form(action="/user/password/forgot", method="POST", autocomplete="off")
          .form-group
            label(for="email") Email
            input#email.form-control(
              type="email",
              name="email",
              required,
              placeholder="Nhập địa chỉ email"
            )

          button.btn.btn-primary.btn-block(type="submit") Gửi email xác thực
